body {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../assets/images/background-image.jpg");
    
}


.header {
    display: flex;
    justify-content: space-between;
}
.navbar {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    
}
.header img {
    width: 23%;
    height: auto;
}
.navbar .nav-element {
    cursor: pointer;
    color: #005e5c;
    font-weight: bold;
    
}

.navbar .nav-element:hover {
    text-decoration: underline;
    color: #5E0031;
}

.toparea{
    display: flex;
    justify-content: space-around;
    height: 150px;
    align-items: center;
}
.toparea a{
    text-decoration: none;
}
.toparea .typebox{
    height: auto;
    width: 100%;
    padding: 0px 25px 0px 25px;
    border: 2px solid transparent;
    border-radius: 8px;
}

.typebox h1{
    text-align: center;
    color: #e4e4e4;
}

#cat{
    background-color: #005e5c;
}
#dog{
    background-color: #5E0031;
}
#cat:hover{
    background-color: #5E0031;
}
#dog:hover{
    background-color: #005e5c;
}

.wrapper-grid{
    display: grid;
    /*
    grid-template-columns: repeat(auto-fill,minmax(15rem,25rem));
    */
    grid-template-columns: repeat(3,1fr);
    justify-self: center;
}
.wrapper-grid a{
    text-decoration: none;
    color: black;
}
.container{
    box-shadow: 0px 2px 8px 0px gray;
    background-color: white;
    text-align: center;
    margin: 20px;
    border-radius: 1rem;
}
.container .photo{
    padding: 20px;
    width: 13rem;
    border-radius: 2rem;
    
}
.container h2{
    margin-top: 0px;
}
.container .description{
    font-size: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 1100px) {
    .wrapper-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 700px) {
    .wrapper-grid{
        grid-template-columns: 1fr;
    }
}


.footer {
    margin-top: 100px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    background-color: #1C3C79;
    width: 100%;
    
}

.footer-text{
    padding-top: 0px;
    color: white;
}
.social-icons {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    
}
.social-icons img {
    cursor: pointer;
}