body {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../assets/images/background-image.jpg");
    
}


.header {
    display: flex;
    justify-content: space-between;
}
.navbar {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    
}
.header img {
    width: 23%;
    height: auto;
}
.navbar .nav-element {
    cursor: pointer;
    color: #005e5c;
    font-weight: bold;
    
}

.navbar .nav-element:hover {
    text-decoration: underline;
    color: #5E0031;
}
.content {
    margin-top: 50px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.content .image{
    max-width: 50%;
}
.content .image img{
    width: 100%;
}
.content .form form{
    padding-left: 20px;
    width: 80%;
}
.content .form {
    width: 100%;
}

.content .input-box{
    height: 50px;
    width: 100%;
    margin: 16px 0;
    position: relative;
}

.content .input-box input{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    outline: none;
    background: #e4e4e4;
    padding-left: 16px;
    border: 2px solid transparent;
    font-size: 16px;
    color: black;
    transition: all 0.3s ease;
}

.content .input-box input:focus ,
.content .input-box input:valid{
    border-color: red;
    background-color: white;
}
.content .input-box label{
    position: absolute;
    left: 15px;
    top: 50%;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label{
    top: 0;
    left: 12px;
    display: 14px;
    background: white;
}

.content .message-box {
    min-height: 100px;
    position: relative;
}

.content .message-box textarea:focus ,
.content .message-box textarea:valid {
    height: 100%;
    width: 103%;
    background: #e4e4e4;
    border: 2px solid transparent;
    border-radius: 5px;
    
}

.content .message-box label{
    position: absolute;
    font-size: 15px;
    color: black;
    left: 18px;
    top: 6px;
    pointer-events: none;
}

.content .message-box textarea:focus  ~ label{
    left: 12px;
    top: -10px;
    font-size: 14px;
    background: white;

}
.content .message-box textarea:focus {
    border-color: red;
    background-color: white;

}
.content .input-box input[type="submit"]{
    background-color: #005e5c;
    color: white;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    border-color: #005e5c;

}
.content .input-box input[type="submit"]:hover{
    background-color: #1DA741;

}

.container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.container .container-item{
    flex-grow: 1;
}

.container .container-item h2{
    color: #005e5c;
   
}

.container-item .image img{
    padding-top: 10px;
    width: 48px;
    height: 48px;
}
.location{
    margin-top: 50px;
    height: 350px;
}
 .location .address{
     width: 100%;
     height: 100%;
 }
 .location h2{
     color: #005e5c;
     text-align: center;
 }

/*

*/
.footer {
    margin-top: 100px;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    background-color: #1C3C79;
    width: 100%;
    
}

.footer-text{
    padding-top: 0px;
    color: white;
}
.social-icons {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    
}
.social-icons img {
    cursor: pointer;
}
@media (max-width: 800px) {
    .content {
      flex-direction: column;
    }
    .content .form{
        min-width: 100%;
    }
    .container{
        flex-direction: column;
    }
}